<h1> Workout Tracker </h1>
<form id="entryForm">
   Exercise Name:
   <br>
   <input type="text" name="name" id="name">
   <br>
   Weight:
   <br>
   <input type="text" name="weight" id="weight">
   <br>
   Reps:
   <br>
   <input type="text" name="reps" id="reps">
   <br>
   Date:
   <br>
   <input type="text" name="date" id="date">
   <br>
   <input type="radio" id="lbs" name="weightSetting" checked> Lbs. <br>
   <input type="radio" id="kg" name="weightSetting"> Kg <br>
   <input type="submit" value="Submit" id="subButton">
</form>
<br>
<div id="statusBar">Enter data and click submit to insert a workout.</div>
<br>
<table id="dataTable">
<tr>
   <th>Name</th>
   <th>Weight</th>
   <th>Units</th>
   <th>Reps</th>
   <th>Date</th>
</tr>
</table>

